<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <!--li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li-->
  <li>
  <a href="#" data-ng-click="setCurrency('LEO')" data-ng-class="{active: currency.symbol == 'LEO'}">LEO</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mLEO')" data-ng-class="{active: currency.symbol == 'mLEO'}">mLEO</a>
  </li> 
</ul>

